In [1]:
#import dependecies
import pandas as pd

In [2]:
# The dataset is composed of two columns: 
#"Date" and "Profit/Losses".
# create a Python script that analyzes 
# the records to calculate each of the following values
csvPath = "../Resources/budget_data.csv"
df = pd.read_csv(csvPath)
df.head()

     Date  Profit/Losses
0  Jan-10        1088983
1  Feb-10        -354534
2  Mar-10         276622
3  Apr-10        -728133
4  May-10         852993

In [33]:
# The total number of months included in 
# the dataset
months = len(df)
# print(len(df))
print(f'Total Months = {months}')

Total Months = 86

In [59]:
# The net total amount of "Profit/Losses" 
# over the entire period
net = 0
valor = 0
greater = 0
lesser = 0

for i in range(months):
    plus = df.loc[i]['Profit/Losses']
    net = net + plus

    
    # conditionals for greatest profit/loss
    if plus > greater:
        greater = i
    elif plus < lesser:
        lesser = df.loc[i]['Profit/Losses']
        
        
        
    #  change over time
    valor = valor+ abs(plus)
    mean = valor/months
    
    
    
# print(f'Net = {net}')
# learned the formatting method below via tutoring!
# print(f'{mean:.2f}')
print(df.loc[greater])

Date             Feb-17
Profit/Losses    382539
Name: 85, dtype: object

In [43]:
# The greatest increase in profits (
# date and amount) over the entire period

Date              Jan-10
Profit/Losses    1088983
Name: 0, dtype: object

In [ ]:
# Print analysis according to rubric

In [ ]:
# Export new DataFrame as .csv